## Pandas

[Pandas](https://pandas.pydata.org/) es una herramienta de manipulación y análisis de datos de código abierto, rápida, potente, flexible y fácil de usar. Utilice la [documentación](https://pandas.pydata.org/) de Pandas como referencia a lo largo de este cuaderno. 

<div align="center">
    <img src="https://github.com/MCD-ESPOL/PCD/blob/main/notebooks/images/pandas.png?raw=true" width="35%">
</div>

## Importar librerías externas

In [ ]:
# Importe la librería pandas, con: import pandas as pd

## Archivos

Descargue el archivo [netflix.csv](https://github.com/MCD-ESPOL/PCD/blob/main/notebooks/netflix.csv). Descargue y mueva el archivo al mismo directorio de este cuaderno.

## Dataset: Movies and TV Shows listings on Netflix

El conjunto es parte del dataset original de [películas y shows en Netflix](https://www.kaggle.com/shivamb/netflix-shows/notebooks), en [Kaggle](https://www.kaggle.com/).

###  Carga de datos

In [ ]:
# Asigne a datos el resultado de pd.read_csv( 'netflix.csv' )

datos =

### Dataframe

La variable _datos_ es un **dataframe**. Un _dataframe_ es un tipo de dato tabular bidimensionales, de tamaño variable, con columnas de tipo heterogéneo.

In [ ]:
# Muestre el dataframe datos, con: datos

datos

### Vista previa

In [ ]:
# Muestre los primeros 5 elementos del dataframe datos, con: datos.head()

In [ ]:
# Muestre los últimos 5 elementos del dataframe datos, con: datos.tail()

### Filas y columnas

In [ ]:
# Muestre por pantalla la cantidad de filas y columnas del dataframe datos, con: datos.shape

El _dataframe_ datos está compuesto 6234 filas y 12 las columnas

### Nombre de las columnas

In [ ]:
# Muestre por pantalla los nombres de las columnas del dataframe datos, con: datos.columns

El _dataframe_ datos tiene las columnas son `'show_id'`, `'type'`, `'title'`, `'director'`, `'cast'`, `'country'`, `'date_added'`, `'release_year'`, `'rating'`, `'duration'`, `'listed_in'` y `'description'`.

### Acceso a columnas

In [ ]:
# Asigne a df1 la columna 'titles' del dataframe datos, con: datos['title'] 
# Muestre por pantalla el dataframe df1

In [ ]:
# Asigne a df2 la columna 'director' del dataframe datos, con: datos['director'] 
# Muestre por pantalla el dataframe df2

El _NaN_ significa "Not a Number", es un valor especial utilizado para representar valores indefinidos o no representables, como el resultado de 0/0 o la raíz cuadrada de un número negativo.

In [ ]:
# Asigne a df3 las columnas 'title' y 'director' del dataframe datos, con: datos[['title', 'director']] 
# Muestre por pantalla el dataframe df3

### Acceso a filas

In [ ]:
# Asigne a df4 la fila en el índice 0 del dataframe datos, con:  datos.iloc[0]
# Muestre por pantalla el dataframe df4

In [ ]:
# Asigne a df5 la fila en el índice 0 del dataframe datos, con:  datos.iloc[673]
# Muestre por pantalla el dataframe df5

In [ ]:
# Asigne a df6 la fila en el índice 0 del dataframe datos, con:  datos.iloc[1027]
# Muestre por pantalla el dataframe df6

## Descripción del dataset

In [ ]:
# Muestre los tipos de datos de cada columna del dataframe datos, con: datos.dtypes

In [ ]:
# Muestre los elementos NaN del dataframe datos, con: datos.isnull()

In [ ]:
# Muestre un resumen con la cantidad de elementos NaN del dataframe datos, con: datos.isnull().sum()

In [ ]:
# Muestre las medidas de tendencia central, dispersión y forma de la distribución del dataframe datos
# de las columnas numéricas, con: datos.describe()

In [ ]:
# Muestre las medidas de tendencia central, dispersión y forma de la distribución del dataframe datos
# de todas las columnas, con: datos.describe(include='all')

## Limpieza de datos

In [ ]:
# Asigne a datos2 el resultado de eliminar las filas con valores nulos (NaN), con: datos.dropna()
# Muestre el dataframe datos2

In [ ]:
# Muestre por pantalla la cantidad de filas y columnas del dataframe datos y datos2, con: datos.shape, datos2.shape

In [ ]:
# Muestre los elementos NaN del dataframe datos2, con: datos2.isnull()

In [ ]:
# Muestre un resumen con la cantidad de elementos NaN del dataframe datos2, con: datos2.isnull().sum()

In [ ]:
# Muestre las medidas de tendencia central, dispersión y forma de la distribución del dataframe datos2
# de las columnas numéricas, con: datos2.describe()

In [ ]:
# Muestre las medidas de tendencia central, dispersión y forma de la distribución del dataframe datos2
# de todas las columnas, con: datos2.describe(include='all')

## Ejercicios

En adelante, utilice el dataframe `datos2` para reproducir los siguientes ejercicios.

**Ejercicio 1:** 

Muestre en un gráfico de barras del conteo de tipos (columna `type`) en el dataframe **datos2**

In [ ]:
# 1. Asigne a df5 la columna 'type' del dataframe datos2. Muestre por pantalla df5

In [ ]:
# 2. Asigne a conteoPorTipo el conteo de los valores en df5, con: df5.value_counts(). Muestre por pantalla conteoPorTipo.

In [ ]:
# 3. Muestre el gráfico de barras el resultado del conteo, con: conteoPorTipo.plot.bar()

**Ejercicio 2:** 

Muestre en un gráfico de barras el del top5 del conteo de años de lanzamiento (columna `release_year`) en el dataframe **datos2**

**Ejercicio 3:** 

Muestre en un gráfico de barras el del top5 del conteo de paises (columna `country`) en el dataframe **datos2**