# Tabla de Contenidos

* [Contenidos](#Tabla-de-Contenidos)
    * [Archivos](#Archivos)
        * [Dataset: Movies and TV Shows listings on Netflix](#Dataset:-Movies-and-TV-Shows-listings-on-Netflix)
    * [Pandas](#Pandas)
        * [Importar librerías externas](#Importar-librerías-externas)
        * [Carga de datos](#Carga-de-datos)
        * [Dataframe](#Dataframe)
        * [Nombre de las columnas](#Nombre-de-las-columnas)
        * [Series](#Series)
        * [Acceso a filas](#Acceso-a-filas)
    * [Preprocesamiento de datos](#Preprocesamiento-de-datos)
        * [Dimensiones del dataframe](#Dimensiones-del-dataframe)
        * [Vista previa](#Vista-previa)
        * [Tipos de datos](#Tipos-de-datos)
        * [Columnas, nulos y tipo de datos](#Columnas,-nulos-y-tipo-de-datos)
        * [Descripción estadística de los datos](#Descripción-estadística-de-los-datos)
        * [Valores nulos](#Valores-nulos)
        * [Limpieza de valores nulos](#Limpieza-de-valores-nulos)
        * [Conteo de valores únicos](#Conteo-de-valores-únicos)
* [Ejercicios](#Ejercicios)

## Archivos

Descargue el archivo [netflix.csv](https://github.com/MCD-ESPOL/PCD/blob/main/notebooks/netflix.csv). Descargue y mueva el archivo al mismo directorio de este cuaderno.

### Dataset: Movies and TV Shows listings on Netflix

El conjunto es parte del dataset original de [películas y shows en Netflix](https://www.kaggle.com/shivamb/netflix-shows/notebooks), en [Kaggle](https://www.kaggle.com/). 


<div align="center">
    <img src="https://storage.googleapis.com/kaggle-datasets-images/434238/824878/30c0ef57882454a0419a348088aa2306/dataset-cover.jpg" width="50%">
    <figcaption>Fuente: <a href="https://www.kaggle.com/datasets/shivamb/netflix-shows/notebooks">Netflix Movies and TV Shows - Kaggle</a></figcaption>
</div>

[Regresar a la TC](#Tabla-de-Contenidos)

## Pandas

[Pandas](https://pandas.pydata.org/) es una herramienta de manipulación y análisis de datos de código abierto, rápida, potente, flexible y fácil de usar. Utilice la [documentación](https://pandas.pydata.org/) de Pandas como referencia a lo largo de este cuaderno. 

<div align="center">
    <img src="https://github.com/MCD-ESPOL/PCD/blob/main/notebooks/images/pandas.png?raw=true" width="35%">
</div>

### Importar librerías externas

In [ ]:
# Importe la librería pandas, con: import pandas as pd

import pandas as pd
import matplotlib.pyplot as plt

###  Carga de datos

La función [read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html#pandas.read_csv) permite leer un archivo de valores separados por comas (csv) en DataFrame. También admite la iteración o división opcional del archivo en fragmentos.

In [ ]:
# Asigne a datos el resultado de pd.read_csv( 'netflix.csv' )

datos =

[Regresar a la TC](#Tabla-de-Contenidos)

### Dataframe

La variable _datos_ es un **dataframe**. Un _dataframe_ es un tipo de dato tabular bidimensionales, de tamaño variable, con columnas de tipo heterogéneo.



<div align="center">
    <img src="https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png" width="50%">
    <figcaption>Fuente: <a href="https://www.geeksforgeeks.org/python-pandas-dataframe/">Pandas Dataframe</a></figcaption>
</div>

In [ ]:
# Es mejor no utilizar la instrucción print para mostrar el contenido del dataframe. 
# Muestre el dataframe, colocando directamente el nombre del dataframe: datos

[Regresar a la TC](#Tabla-de-Contenidos)

### Nombre de las columnas

La propiedad [columns](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.columns.html#pandas.DataFrame.columns) sirve para obtener todos los nombres de las columnas en el dataframe.

In [ ]:
# Muestre por pantalla los nombres de las columnas del dataframe datos, con: datos.columns

El _dataframe_ datos tiene las columnas son `'show_id'`, `'type'`, `'title'`, `'director'`, `'cast'`, `'country'`, `'date_added'`, `'release_year'`, `'rating'`, `'duration'`, `'listed_in'` y `'description'`.

In [ ]:
# Asigne a nombreColumna el valor: 'country'
# Asigne a sPais la serie con la columna en nombreColumna del dataframe datos, con: datos[nombreColumna] 
# Muestre por pantalla la serie sPais

In [ ]:
# Asigne a columnasTitulos la lista: ['title', 'director']
# Asigne a dDirectorTitulo el dataframe datos filtrado por columnasTitulos, con: datos[columnasTitulos] 
# Muestre por pantalla el dataframe dDirectorTitulo

[Regresar a la TC](#Tabla-de-Contenidos)

### Series

Para Pandas, una serie es una matriz etiquetada unidimensional capaz de contener datos de cualquier tipo (enteros, cadenas, flotantes, objetos de Python, etc.).

<div align="center">
    <img src="https://media.geeksforgeeks.org/wp-content/uploads/dataSER-1.png" width="50%">
    <figcaption>Fuente: <a href="https://www.geeksforgeeks.org/python-pandas-series/">Pandas Series</a></figcaption>
</div>

In [ ]:
# Asigne a sTitulos la serie con la columna 'titles' del dataframe datos, con: datos['title'] 
# Muestre por pantalla la sTitulos

In [ ]:
# Asigne a sDirectores de la columna 'director' 
# Muestre por pantalla el dataframe sDirectores

**Nota:** _NaN_ significa "Not a Number", es un valor especial utilizado para representar valores indefinidos o no representables, como el resultado de 0/0 o la raíz cuadrada de un número negativo.

[Regresar a la TC](#Tabla-de-Contenidos)

### Acceso a filas
 
[iloc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.iloc.html) es un método utilizado para seleccionar filas y columnas de un DataFrame mediante indexación basada en números enteros. Es similar a la indexación utilizada en las matrices NumPy.

<div align="center">
    <img src="https://www.w3resource.com/w3r_images/pandas-series-iloc-image-3.svg" width="50%">
    <figcaption>Fuente: <a href="https://www.w3resource.com/pandas/series/series-at.php">Pandas Series</a></figcaption>
</div>

In [ ]:
# Asigne a sFila0 la serie en el índice 0 del dataframe datos, con:  datos.iloc[0]
# Muestre por pantalla la sFila0

In [ ]:
# Asigne a sFila673 la serie en el índice 673 del dataframe datos, con:  datos.iloc[673]
# Muestre por pantalla la serie sFila673

[Regresar a la TC](#Tabla-de-Contenidos)

## Preprocesamiento de datos

Una vez que los datos se cargan en Python, el siguiente paso es comprender su estructura y características básicas. Con Pandas, convertimos grandes conjuntos de datos en _dataframe_. A continuación, se presentan algunas técnicas fundamentales para el análisis básico de datos:

### Dimensiones del dataframe

La función [shape](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.shape.html#pandas.DataFrame.shape) muestra las dimensiones del dataframe.

<div align="center">
    <img src="https://media.geeksforgeeks.org/wp-content/uploads/finallpandas.png" width="50%">
    <figcaption>Fuente: <a href="https://www.geeksforgeeks.org/python-pandas-dataframe/">Pandas Dataframe</a></figcaption>
</div>

In [ ]:
# Muestre por pantalla la cantidad de filas y columnas del dataframe datos, con: datos.shape

El _dataframe_ datos está compuesto 6234 filas y 12 las columnas

[Regresar a la TC](#Tabla-de-Contenidos)

### Vista previa 

Para obtener una vista previa del dataframe:

- La función [head](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html#pandas.DataFrame.head) devuelve **las primeras _n_ filas** del objeto según su posición. 
- La función [tail](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.tail.html#pandas.DataFrame.tail) devuelve **las últimas _n_ filas** del objeto en función de la posición. 

Ambas son útiles para verificar datos rápidamente, por ejemplo, después de ordenar o agregar filas.

In [ ]:
# Es mejor no utilizar la instrucción print para mostrar el contenido del dataframe. 
# Muestre los primeros 5 elementos del dataframe datos, con: datos.head()

In [ ]:
# Muestre los últimos 5 elementos del dataframe datos, con: datos.tail()

[Regresar a la TC](#Tabla-de-Contenidos)

### Tipos de datos 

Con [dtypes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html#pandas.DataFrame.dtypes) es posible ver el tipo de datos de cada serie en el dataframe.

In [ ]:
# Muestre los tipos de datos de cada columna del dataframe datos, con: datos.dtypes

[Regresar a la TC](#Tabla-de-Contenidos)

### Columnas, nulos y tipo de datos

El método [info](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html#pandas.DataFrame.info) imprime un resumen conciso de un DataFrame, incluidos el tipo de índice y las columnas, los valores no nulos y el uso de memoria.

In [ ]:
# Utilice el dataframe datos con el método info: datos.info()

[Regresar a la TC](#Tabla-de-Contenidos)

### Descripción estadística de los datos

El método [describe](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html#pandas.DataFrame.describe) muestra las estadísticas descriptivas que resumen la tendencia central, la dispersión y la forma de la distribución de un conjunto de datos, excluyendo los valores _NaN_.

In [ ]:
# Muestre las medidas de tendencia central, dispersión y forma de la distribución del dataframe datos
# SOLO las columnas numéricas, con: datos.describe()

In [ ]:
# Muestre las medidas de tendencia central, dispersión y forma de la distribución del dataframe datos
# para TODAS las columnas, con: datos.describe(include='all')

[Regresar a la TC](#Tabla-de-Contenidos)

### Valores nulos

El método [isnull](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isnull.html#pandas.DataFrame.isnull) sirve para detectar los valores nulos en el dataframe.

In [ ]:
# Muestre los elementos NaN del dataframe datos, con: datos.isnull()

In [ ]:
# Muestre el total de los elementos NaN por cada columna en el dataframe datos, con: datos.isnull().sum()

[Regresar a la TC](#Tabla-de-Contenidos)

### Limpieza de valores nulos

El método [dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html#pandas.DataFrame.dropna) devuelve el dataframe sin los elementos nulos.

In [ ]:
# Asigne a datos2 el resultado de eliminar los valores nulos (NaN), con: datos.dropna()
# Muestre el dataframe datos2

In [ ]:
# Muestre por pantalla la cantidad de filas y columnas del dataframe datos, con: datos.shape

In [ ]:
# Muestre por pantalla la cantidad de filas y columnas del dataframe datos, con: datos2.shape

[Regresar a la TC](#Tabla-de-Contenidos)

### Conteo de valores únicos

El método [value_counts](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.value_counts.html#pandas.DataFrame.value_counts) cuenta los valores únicos en una serie no permite obtener la frecuencia de los elementos.

In [ ]:
# Asigne a valoresUnicos la frecuencia de los elementos en sPaises
# Muestre por pantalla valoresUnicos

[Regresar a la TC](#Tabla-de-Contenidos)

## Ejercicios

**Ejercicio 1:** Muestre la frecuencia de los tipos de productos multimedia (columna `type`) en el dataframe **datos2**.

In [ ]:
# Asigne a sTipos la serie en la columna 'type' del dataframe datos2. 
# Muestre por pantalla la sTipos

In [ ]:
# Asigne a conteoPorTipo el conteo de los valores en sTipos, con: sTipos.value_counts(). 
# Muestre por pantalla conteoPorTipo.

In [ ]:
# Muestre el gráfico de barras el resultado del conteo, con: conteoPorTipo.plot.bar()

**Ejercicio 2:** Muestre en un gráfico de barras la distribución de los años de lanzamiento (columna `release_year`) en el dataframe **datos2**.

**Ejercicio 3:** Muestre en un gráfico de barras con el top5 del conteo de paises (columna `country`) en el dataframe **datos2**

[Regresar a la TC](#Tabla-de-Contenidos)