## Salida por pantalla

Para mostrar un mensaje por pantalla, se utiliza la instrucción **print**. Entre los paréntesis **(** **)** se coloca el contenido a mostrar, por ejemplo:

```python

print("Este es un mensaje de salida")

print( (2 + 4) * 3 )
```

In [3]:
# Escriba aquí la instrucción print y muestre como mensaje su nombre completo 

print("Juan Pérez Maldonado")

Juan Pérez Maldonado

In [4]:
# Escriba aquí la instrucción print y muestre la operación (4 - 8) / 2

print( (4 - 8) / 2 )

-2.0

## Variables

Una **variable** es un contenedor para almacenar datos. Una variable se crea cuando se **asigna** un valor.


<div align="center">
    <img src="https://yosoy.dev/wp-content/uploads/2014/08/variables-en-programacion.png" width="40%"/>
    Fuente: <a href="https://yosoy.dev/que-es-una-variable-y-como-se-declaran-en-c/">¿Que es una variable?</a>
</div>

```python
nombre = "María"
edad = 32

print( nombre )
print( edad )
```

In [5]:
# Cree y asigne las variables nombre y edad. 
# Asigne a cada variable sus datos. 
# Finalmente, muestre por pantalla el contenido de dichas variables. 

nombre = "Juan Pérez Maldonado"
edad = 32

print( nombre )
print( edad )

Juan Pérez Maldonado
32

## Identificadores

Los identificadores son los nombres de las variables para reconocer su contenido. Algunas reglas para crear el identificador de una variables:

* Debe comenzar con una letra o un carácter de subrayado.
* No puede comenzar con un número
* Solo puede contener caracteres alfanuméricos y guiones bajos (A-z, 0-9 y _).
* Distinguen entre mayúsculas y minúsculas (edad, Edad y EDAD son tres variables diferentes)
* No puede ser ninguna de las palabras clave de Python, por ejemplo no se puede utilizar la palabra: `print`

In [ ]:
# Cree una variable a la que asigne el valor correspondiente. Muestre el contenido de la variable.

In [6]:
a = 5
b = 2.6

# Cree una variable a la que asigne el resultado de la operación (a - b) * 2.65. Muestre el contenido de la variable.

resultado = (a - b) * 2.65

print( resultado )

6.359999999999999

In [7]:
# Cree una variable a la que asigne la dirección de su trabajo. Muestre el contenido de la variable.

direccion = "Km 4.5 via a Daule"

print( direccion )

Km 4.5 via a Daule

## Tipos de datos

Una variable puede contener un dato de diferentes **tipos de datos**. Cada tipo tiene sus características particulares, como se muestra en la siguiente tabla.


| Nombre           | Ejemplo                                                                                                     |
|:-----------------|:------------------------------------------------------------------------------------------------------------|
| Entero (int)     | <pre><code>edad = 27<br><br>print( "Mi edad es: ", edad )     </code></pre>                                                             |
| Flotante (float) | <pre><code>precio = 34.42<br><br>print( "El precio a pagar es: ", precio)</code></pre>                                                    |
| Booleano (bool)  | <pre><code>resultadoComparacion = 89 > 34<br><br>print( "El resultado de comparar 89 > 34 es: ", resultadoComparacion)</code></pre>   |
| Cadena de caracteres (str)  | <pre><code>nombre = 'María González'<br>direccion = "Ciudadela Gaviota, Mz 34 V 92"<br><br>print( nombre + " vive en " + direccion)</code></pre>   |
| Lista (list)  | <pre><code>valoresAPagar = [ 34.2 , 23.9 , 12.89, 10.34]<br><br>print("Los valores a pagar son: ", valoresAPagar) </code></pre>   |

In [8]:
# Asigne el resultado de la comparacion 25 >= 63 a la variable comparacion1

comparacion1 = 25 >= 63

print("Resultado de la comparación 25 >= 63: ", comparacion1)

Resultado de la comparación 25 >= 63:  False

In [9]:
# Asigne el resultado de la comparacion 25 < 63 a la variable comparacion2

comparacion2 = 25 < 63

print("Resultado de la comparación 25 < 63: ", comparacion2)

Resultado de la comparación 25 < 63:  True

In [10]:
# Complete las variables direccionTrabajo, ciudadTrabajo y paisTrabajo con sus datos. 

direccionTrabajo = "Km 4.5 via a Daule" 
paisTrabajo = 'Ecuador'
ciudadTrabajo = "Guayaquil"

print(direccionTrabajo + " en  la ciudad de " + ciudadTrabajo + ", " + paisTrabajo)

Km 4.5 via a Daule en  la ciudad de Guayaquil, Ecuador

In [19]:
# Complete la lista invitados con los nombres de 5 personas. Separe cada nombre con una coma.

invitados = [ 'Kevin', 'Carmen', 'Luis', 'José' ]


print("Los nombres los invitados son: ", invitados)

Los nombres los invitados son:  ['Kevin', 'Carmen', 'Luis', 'José']

## Errores

In [15]:
# Error de sintaxis

direccion593 = "Benalcázar N4-24 y Espejo, Quito, Ecuador"

print("Dirección: " , direccion593)

Dirección:  Benalcázar N4-24 y Espejo, Quito, Ecuador

In [16]:
# Error de ejecución

cuentaTotal = 325.12
cantidadPersonas = 0

cuota = cuentaTotal / cantidadPersonas

print("La cuenta por persona es: ", cuota)

ZeroDivisionError: float division by zero

## Operadores matemáticos

Los operadores matemáticos se utilizan para realizar operaciones con variables y valores. En la siguiente tabla se encuentran el operador, el nombre y un ejemplo del uso del operador.

<div align="center">
    <img src="images/operadores_matematicos.png" width="60%"/>
</div>

In [4]:
# Cree tres variables: precio, cantidad y subtotal 
# Asigne valores enteros o flotantes a cada variable.
# Asigne a la variable subtotal el resultado de la operación precio * cantidad
# Muestre por pantalla el valor de la variable subtotal

precio = 2.6
cantidad = 32
subtotal = precio * cantidad

print("Subtotal: ", subtotal)

Subtotal:  83.2

In [6]:
# Asigne a la variable ivaApagar el resultado de la operación subtotal * 12 / 100
# Asigne a la variable totalAPagar el resultado de sumar la variable subtotal y la variable ivaApagar
# Muestre el contenido de la variable ivaApagar y totalAPagar

ivaApagar = ( subtotal * 12 ) / 100
totalAPagar = subtotal + ivaApagar

print("El subtotal es ", subtotal )
print("El IVA a pagar es ", ivaApagar )
print("El total es ", totalAPagar )

El subtotal es  83.2
El IVA a pagar es  9.984000000000002
El total es  93.184

In [20]:
print("El subtotal es %.2f" % subtotal )
print("El IVA a pagar es %.2f" % ivaApagar )
print("El total es %.2f" % totalAPagar )

El subtotal es 83.20
El IVA a pagar es 9.98
El total es 93.18

## Ingresos de datos

Para ingresar un dato, se utiliza la instrucción **input**. Entre los paréntesis **(** **)** se coloca un mensaje de ayuda acerca del dato a introducir, por ejemplo:

<br><br>

<div align="center">
    <img src="images/python_input.png" width="60%"/>
</div>

In [31]:
# Solicite el ingreso del nombre (nombreEvento) del evento 

nombreEvento = input("Ingrese el nombre del evento: ")

Ingrese el nombre del evento: Alumni Fest

In [32]:
# Solicite el ingreso de la cantidad de participantes (cantidadParticipantes) al evento 

cantidadParticipantes = input("Ingrese la cantidad de participantes: ")

Ingrese la cantidad de participantes: 5

In [33]:
# Solicite el ingreso del precio de la entrada (precioEntrada) al evento 

precioEntrada = input("Ingrese el precio de la entrada: $")

Ingrese el precio de la entrada: $11.52

In [34]:
# Muestre por pantalla el nombre del evento, la cantidad de participantes al evento y el precio de la entrada al evento

print("Ha comprado para el evento ", nombreEvento, " la cantidad de ", cantidadParticipantes, " con un valor de $", precioEntrada)

Ha comprado para el evento  Alumni Fest  la cantidad de  5  con un valor de $ 11.52

In [35]:
# Calcule y asigne el resultado la multiplicación de cantidadParticipantes * precioEntrada en la variable total. 
# Muestre el valor de la variable total.

total = cantidadParticipantes * precioEntrada
print("Total: ", total)

TypeError: can't multiply sequence by non-int of type 'str'

**NOTA:** la instrucción input SIEMPRE devuelve un dato de tipo **Cadena de caracteres**.

## Conversión de tipos de datos

Para convertir un variable a un **tipo de dato** flotante o entero, utilice las instrucciones (funciones) que aparecen en la siguiente tabla.

| Nombre  | Descripción         | Ejemplo                                                               |
|:--------|:-------------------|:-----------------------------------------------------------------------|
| int()   | Convierte un dato en entero        | <pre><code>numeroFloat = 34.2 <br>numeroInt = int(numeroFloat) <br>print("El número flotante es: ", numeroFloat) <br>print("El número entero es: ", numeroInt) <br><br>**Salida:**<br>El número flotante es:  34.2 <br>El número entero es:  34</code></pre> |
| float() | Convierte un dato en flotante      | <pre><code>numeroInt = 26 <br>numeroFloat = float(numeroInt)  <br>print("El número entero es: ", numeroInt) <br>print("El número flotante es: ", numeroFloat) <br><br>**Salida:**<br>El número entero es:  26<br>El número flotante es:  26.0 </code></pre> |

In [36]:
# Asigne a la variable cantidadParticipantesInt la conversión a entero de la variable cantidadParticipantes

cantidadParticipantesInt = int( cantidadParticipantes )

In [37]:
# Asigne a la variable precioEntradaFloat la conversión a entero de la variable precioEntrada

precioEntradaFloat = float( precioEntrada )

In [38]:
# Calcule y asigne el resultado la multiplicación de cantidadParticipantesInt * precioEntradaFloat en la variable total. 
# Muestre el valor de la variable total.

total = cantidadParticipantesInt * precioEntradaFloat

print("Total ", total)

Total  57.599999999999994

## Ejercicios

* Escriba un programa para una **Calculadora dinámica** que permite ingresar dos números (pueden ser enteros o flotantes) y luego realiza todas las operaciones básicas (suma, resta, multiplicación y división). Al final, muestrael resultado de todas las operaciones.

In [9]:
numero1 = input("Ingrese el primer número: ")
numero2 = input("Ingrese el segundo número: ")

Ingrese el primer número: 89
Ingrese el segundo número: 12

In [10]:
numero1Float = float(numero1)
numero2Float = float(numero2)

In [11]:
resultadoSuma = numero1Float + numero2Float
resultadoResta = numero1Float - numero2Float
resultadoMultiplicacion = numero1Float * numero2Float
resultadoDivision = numero1Float / numero2Float

In [12]:
print("El resultado de la suma es: ", resultadoSuma)
print("El resultado de la resta es: ", resultadoResta)
print("El resultado de la multiplicación es: ", resultadoMultiplicacion)
print("El resultado de la división es: ", resultadoDivision)

El resultado de la suma es:  101.0
El resultado de la resta es:  77.0
El resultado de la multiplicación es:  1068.0
El resultado de la división es:  7.416666666666667

* Escriba un programa en Python para una **Agencia de viajes** que permita el ingreso del número de pasajeros y el valor de un boleto. Luego, obtenga el subtotal a partir del número de pasajeros y el valor de un boleto. Además, obtenga el IVA a pagar del subtotal. Finalmente, calcule el total con la suma del subtotal y el IVA a pagar. Para finalizar la compra, muestre todos los datos de la venta.

In [14]:
print(" ========== Agencia de viajes =========== ")

numeroDePasajero = int( input("Ingrese el número de pasajeros: ") )
valorDelBoleto = float( input("Ingrese el valor del boleto: ") )

subtotal = numeroDePasajero * valorDelBoleto

ivaApagar = subtotal * 12 / 100

total = subtotal + ivaApagar

print("Los ", numeroDePasajero, " pasajeros.")
print("Tienen que pagar $", total)

 ========== Agencia de viajes ===========
Ingrese el número de pasajeros: 5
Ingrese el valor del boleto: 23.45
Los  5  pasajeros.
Tienen que pagar $ 131.32